.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  margin-top: 110px;
  background: #fff;
  padding-bottom: 30px;
  font-family: "Lexend", serif;
}

.head{
display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;   
}

.text{
color: #3674B5;
font-size: 40px;
font-weight: bold;
}

.underline{
width: 150px;
height: 4px;
background: #3674B5;
border-radius: 9px;
}

.input{
display: flex;
align-items: center;
margin: auto;
width: 350px;
height: 60px;
background: #eaeaea;
border-radius: 6px;
font-weight: normal;
}

.input input{
  height: 50px;
  width: 400px;
  padding-left: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 17px;
}


.forgot-password{
padding-left: 390px;
margin-top: 5px;
color: #797979;
font-size: 15px;
} 

.forgot-password span{
color: #3674B5;
cursor: pointer;
}

.submit{
display: flex;
gap: 3px;
margin: 15px auto;
}
